body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(238, 237, 237, 0.496);
    margin: 0;
}

.top1 {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
}


body section h1 {
    font-size: 50px;
    font-weight: 700;
}

body section p {
    font-weight: 100;
}

.btn {
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    background-color: rgb(255, 100, 73);
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.7s;


}

.btn:hover {
    background-color: rgb(255, 190, 190);
    color: rgb(210, 28, 28);
    transition: 0.7s;
}

.donate {
    text-align: center;
    padding: 10px 15%;
}

.flex {
    list-style: none;
    display: inline-flex;

}

.flex li {
    font-weight: 700;
    border-radius: 5px;
    margin: 40px;
    padding: 30px 50px;
    background-color: rgba(203, 203, 203, 0.415);
}

#redborder {
    background-color: rgba(255, 126, 94, 0.604);
    color: rgb(182, 11, 11);
    border: 2px solid rgb(182, 11, 11);
}

.inputtext {
    border: none;
    border-bottom: 2px solid rgb(157, 157, 157);
    text-align: center;
    width: 40%;
    height: 30px;
    outline: 0;


}

.sec3 {
    text-align: center;

}

.sec3 h1 {
    font-weight: 700;
}

#sec3p {
    padding: 1px 30%;
}





#list1 {
    text-align: left;
    text-decoration: none;

    margin-bottom: 10%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;

    padding-top: 70px;
    padding-left: 30px;
    background-color: rgba(191, 160, 218, 0.524);
}

#list2 {
    text-align: left;
    text-decoration: none;

    border-radius: 10px;

    margin-bottom: 10%;
    margin-left: 20px;
    margin-right: 20px;
    width: 70%;
    padding-top: 70px;
    padding-left: 30px;
    background-color: rgba(166, 221, 211, 0.452);
}

#list3 {
    text-align: left;
    text-decoration: none;
    margin-bottom: 10%;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 10px;

    padding-top: 70px;
    padding-left: 30px;
    background-color: rgba(224, 187, 160, 0.353);
}


footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 0 0;

}

footer h1 {
    font-family: cursive;
    color: darksalmon;
    font-weight: 900;
}

.flex2 {
    display: inline-flex;
    text-align: left;
    margin: 10px 8%;
    list-style: none;

}

.flex3 {
    display: flex;
    width: 50%;
    margin-top: 0x;

}

.lastsec {
    margin-left: 40%;

}

.emailsub {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10%;


}

.emailsub input {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
    background-color: rgb(255, 227, 186);
}

.emailsub button {
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    background-color: rgba(240, 37, 37, 0.842);
    border-radius: 0 10px 10px 0;
    transition: 0.7s;
}

.emailsub button:hover {
    background-color: rgb(195, 0, 0);
    transition: 0.7s;
}

.images h1 {
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
    transition: 0.5s;

}

.images h1:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}


.survive {
    background-image: url(flood.jpg);
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 700px;
    color: aliceblue;
    margin: 20px;
    border-radius: 10px;
}

.survive h1 {
    padding-left: 20px;
    padding-top: 40%;

}


#red {
    color: rgb(214, 0, 0);
    font-weight: 700;
    border: 5px solid rgb(214, 0, 0);
    border-radius: 10px;
    padding: 0 10px;
    transition: 0.5s;
}

#red:hover {
    background-color: rgb(214, 0, 0);
    color: white;
    transition: 0.5s;
}



.help {

    height: 350px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 330px;
    border-radius: 10px;
    background-image: url(pic3.jpg);
    background-position: left;
    background-size: cover;
    color: rgb(85, 255, 198);
    padding-top: 100px;
}

.and {
    height: 350px;
    margin-left: 30px;
    width: 330px;
    border-radius: 10px;
    background-image: url(pic2.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(0, 77, 144);
}

.save {
    height: 350px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 330px;
    border-radius: 10px;
    background-image: url(pic4.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(0, 154, 23);
    padding-top: 100px;
}

.life {
    height: 350px;
    margin-left: 30px;
    margin-bottom: 50px;
    width: 330px;
    border-radius: 10px;
    background-image: url(pic1.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(198, 63, 0);

}